<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-panels.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/skel-noscript.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style-desktop.css') }}" />
		</noscript>
    <title>Contéudo Tech Negro</title>
</head>
<body>
    <body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Contéudo Tech Negro</a></h1>
				</div>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">Homepage</a></li>
						<!--<li><a href="twocolumn1.html">Left Sidebar</a></li>-->
						<!--<li><a href="twocolumn2.html">Right Sidebar</a></li>-->
						<!--<li><a href="onecolumn.html">No Sidebar</a></li>-->
					</ul>
				</nav>

			</div>
		</div>

		<div id="banner">&nbsp;</div>

		<div id="featured">
			<div class="container">
				<div class="row">

                    {% for item in conteudos[:4] %}
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{{ item.imagem }}" alt=""></a>
							<header>
                                <h2><a target="_blank" href="{{ item.url }}">{{ item.titulo }} </a></h2>
							</header>
							<p>{{ item.resumo }}</p>
                            <p>por {{ item.nome }}</p>
						</section>
					</div>
                    {% endfor %}

				</div>
			</div>
		</div>
		<div id="marketing">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Mais textos</h2>
							</header>
							<ul class="style1">
								{% for item in conteudos[4:8]%}
								<li class="first"><img src="{{ item.imagem }}" width="80" height="80" alt="">
									<p>{{ item.titulo }} </p>
									<p>por {{ item.nome }} </p>
								</li>
								{% endfor %}
							</ul>
						</section>
					</div>

					<div class="6u">
						<section>
							<header>
								<h2>Aenean elementum facilisis ligula</h2>
							</header>
							<a href="#" class="image full"><img src="images/pics12.jpg" alt=""></a>
							<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet. Donec mattis libero eget urna. Duis pretium velit ac mauris.</p>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div id="main">
			<div class="container">
				<div class="row">
					<div class="8u">
						<section>
							<header>
								<h2>Para que serve esse site?</h2>
							</header>
							<p>O Conteúdo Tech Negro veio de uma provocação da colega Mariana Queiroz que procurava por conteúdo técnico na área de desenvolvimento, e não encontrava pessoas negras como autoras desses conteúdos.</p>

							<p>A idéia é de maneira colaborativa o site ser alimentado. Você é uma pessoa negra, da área de Tecnologia, tem um texto/vídeo/apresentação, ou conhece um texto/vídeo/apresentação de uma pessoa negra? Manda email para roselma.mendes@gmail.com. Preciso de: </p>
							<ul style="list-style-type: disc">
								<li>Nome da pessoa</li>
								<li>Titulo do conteúdo</li>
								<li>Url do conteúdo</li>
								<li>Imagem para o conteúdo (se possível)</li>
								<li>Resumo sobre o conteúdo (se possível)</li>
								<li>Tema (Monitoramento, DevOps, etc)</li>
								<li>Redes Sociais da pessoa (uma ou mais, se possível)</li>
							</ul>
						</br>
							<p>Tem idéias, melhorias para o site? Coloque aqui: https://github.com/NegraTec/conteudo-tech-negro/issues</p>
						</section>
					</div>
					<div class="4u">
						<section>
							<header>
								<h2>Redes Sociais</h2>
							</header>
							<ul class="style">
								<li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</body>
</html>